/*------ Document -----*/
body {
 margin: 0 auto;
 padding: 0;
 font: .75em/1.5em Helvetica, Arial, sans-serif;
 color: #797267;
 width: 960px;
 background: #797267;
}

header {
 background-image: url('../images/header-bg.jpg');
 background-repeat: no-repeat;
 height: 210px;
}

header h1{
 display:inline-block;
 background-image: url('../images/logo.gif');
 background-repeat: no-repeat;
 height: 71px;
 width: 317px;
 margin-left:65px;
 margin-top: 65px;
}

header h1 a{
	float: left;
	width:100%;
	height: 100%;
	text-indent: -999px;
	background: none;
}

header nav{
	float: right;
	margin-right: 105px;
	margin-top:85px;
	display: inline-block;
}

header nav ul{
	float: left;
	padding: 0;
	margin: 0;
}

header nav ul li{
	float: left;
	padding: 0;
	list-style: none;
}

header nav ul li a{
	display: inline-block;
	color: #423b2e;
	text-transform: uppercase;
	font-size: 14px;
	margin: 0 7px;
	font-weight: bold;
	text-decoration: none;

}

header nav ul li:hover a{
	color: #c63102;
}

/* Main content */

#main-content{
	background: url(../images/main-content-bg.jpg);
	float: left;
	width: 100%;
}

#banner {
	height: 200px;
	background: url(../images/banner.jpg) ;
	float: left;
	width: 890px;
	margin-left: 35px;
	}

#column1of2{
	float: left;
	width: 260px;
	margin-top: 30px;
	margin-left:70px;
	padding-bottom: 60px;
	padding-left: 20px;
	background:url(../images/page-flip.png);
  background-repeat:no-repeat;
}

#column2of2{
	float: left;
	width:450px;
	margin-top: 30px;
	padding-left: 20px;
	margin-left:50px;
	padding-bottom:50px;
	background:url(../images/page-flip.png) no-repeat left bottom;
}

#column1of2 h2, #column2of2 h2{
	color: #423b2e;
	border-bottom:2px solid #797267;
	padding-bottom:10px;
	font-weight: bolder;
	margin-top: 0;
	margin-bottom: 10px;
}

#column1of2 p img{
	float: left;
	display: inline-block;
	border:5px solid #fff;
	margin-right: 15px;
}


#column1of2 p{
	padding-bottom: 24px;
	margin-bottom: 12px;
	border-bottom:2px solid #797267;
	float: left;
	width: 100%;
	margin-top: 0;
}

footer{
	float: left;
	width: 100%;
	background: url(../images/footer-bg.jpg) no-repeat left top;
	margin-bottom:25px;
}

footer p{
	float: left;
	width: 100%;
	color: #423b2e;
	font-size: 10px;
	text-align: center;
	margin-top:90px;
}
